* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    
}

:root {
    --btn-color: #5E63BA;
    --btn-letter-color: #ffffff;
    --btn-hover-color: #4e5199;
    --error-color: #ba5e5e;
}

body {
    padding: 2rem;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

p {
    opacity: 0;
    transition: .5s;
}

.w_guessed {
    opacity: 1;
}

.u_guessed {
    opacity: 0;
}

button {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: .3rem;
    background: var(--btn-color);
    color: var(--btn-letter-color);
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background: var(--btn-hover-color);
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    row-gap: 4rem;
    background: white;
}

.word_and_keyboard {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.keyboard {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 3rem);
    gap: .5rem;
}

.word {
    display: flex;
    justify-content: center;
    gap: .3rem;
    font-size: 1.5rem;
}

.underline {
    color: transparent;
    border-radius: 1rem;
    width: 20px;
    height: 2.4px;
    background: black;
}

.hangman-div {
    display: flex;
    justify-content: space-between;

}

.hangman {
    width: 40%;
    aspect-ratio: 1;
}

#second {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.tip {
    width: 200px;
    margin-bottom: auto;
    font-size: 1rem;
    text-align: center;
}

.lifes {
    font-size: 1.2rem;
    color: darkred;
    justify-self: end;
}