.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    transition: .5s;
    opacity: 0;
}

.menu_secondary {
    padding: 1rem .8rem;
    opacity: 1;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

.wl {
    margin-top: 1.8rem;
}

a {
    margin-top: 3rem;
    padding: .6rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: .5rem;
    background: var(--btn-color);
    color: white;
    font-size: 1.2rem;
}

.corrent_answer {
    margin-top: 1rem;
    font-size: 1.2rem;
}